<div class="func-wrapper">
    <div class="func-name">{% if func.type == 'function' %}def{% else %}{{ func.type }}{% endif %} {{ func.name }}()</div>
    <div class="func-summary">{{ func.summary }}</div>
    <div class="func-description">{{ func.description }}</div>

    <div class="param-wrapper">
        <h4>Parameters</h4>
        <div class="param-table-wrapper">
            <table class="param-table">
                <tr>
                    <th>Name</th>
                    <th>Default</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                {% for param in func.params %}
                <tr class="param-name">
                    <td>{{ param.name }}</td>
                    {% if param.type == 'kwarg' %}
                        <td>
                            {% if param.default %}
                                {{ param.default }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if "type" in param.extra %}
                        <td>{{ param.extra.type }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if "description" in param.extra %}
                        <td>{{ param.extra.description }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
